<div class="avatar-menu">
  <div class="avatar-menu__item" data-slot="profile"></div>
  <div class="avatar-menu__item" data-slot="settings"></div>
  <div class="avatar-menu__separator"></div>
  <div class="avatar-menu__item" data-slot="logout"></div>
</div>
