.avatar-menu {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 191px;
  height: auto;
  gap: 4px;

  &__item {
    padding-left: 12px;
  }

  .ui-button {
    width: 100%;
    justify-content: flex-start;
    gap: 12px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #1f2544;

    &:hover:not(:disabled) {
      background: rgba(81, 99, 235, 0.08);
      text-decoration: none;
    }
  }

  .ui-button__icon img {
    width: 24px;
    height: 24px;
  }
}
