.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__header {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
  }

  &__registration-button {
    margin-top: 20px;
    width: 236px;
  }
}

.secondary-button {
  display: flex;
  justify-content: center;
  color: #5163EB;
  padding: 15px 60px;
  border: 2px solid #5163EB;
  border-radius: 18px;
  text-decoration: none;
  align-items: center;

  &:visited {
    color: #5163EB;
    text-decoration: none;
  }
  
  &:hover {
    cursor: pointer;
  }
}