<div class="auth-page">
    <div class="auth-page__header">{{{headerText}}}</div>
    <div class="auth-page__content">{{{authForm}}}</div>
    <a class="auth-page__registration-button secondary-button" data-action="register">{{{registrationButtonText}}}</a>
</div>