<div class="form">
    <div class="lable">
        <h1>
            Вход в
        </h1>
        <div class="logo">
            <img src="/img/blue_logo.svg" alt="blue_logo">
        </div>
        <h1>
            почту
        </h1>
    </div>
    <div class="bigslider">
        <a href="#" class="btn-link" data-type="email">Почта</a>
        <div class="smallslider_for_phone">
            <h2>
                Телефон
            </h2>
        </div>
    </div>
    <div class="infoform">
        <div class="infoform-group">
            <input type="tel" id="phone" placeholder="Номер телефона" name="phone" 
                value="{{formData.phone}}">
            {{#if errors.phone}}<div class="error-message">{{errors.phone}}</div>{{/if}}
        </div>

        <div class="infoform-group">
            <input type="password" id="password" placeholder="Пароль" name="password"
                value="{{formData.password}}">
            {{#if errors.password}}<div class="error-message">{{errors.password}}</div>{{/if}}
            <a href="#" class="forgotpassword">Забыли пароль?</a>
        </div>
    </div>
    <div class="buttons">
        <button class="btn" id="loginButton">Войти</button>
        <a href="/signup" class="btn">Зарегистрироваться</a>
    </div>
    <div class="bottom">
        <h5>
            Войти с помощью
        </h5>
        <div class="icon-container">
            <div class="icon">
                <img src="/img/vk.jpeg" alt="vk">
            </div>
            <div class="icon">
                <img src="/img/tg.jpeg" alt="tg">
            </div>
            <div class="icon">
                <img src="/img/apid.jpeg" alt="apple id">
            </div>
        </div>
    </div>
</div>