<div class="support-widget-app">
    <header class="support-widget-app__header">
        <h1 class="support-widget-app__title">Расскажите, чем мы можем помочь</h1>
        <p class="support-widget-app__subtitle">
            Все поля обязательные. Пожалуйста, заполните их внимательно.         </p>
    </header>

    <form class="support-widget-form" data-form>
        <div class="support-widget-form__field" data-slot="subject"></div>
        <div class="support-widget-form__field" data-slot="message"></div>

        <div class="support-widget-form__actions">
            <div class="support-widget-form__actions-buttom">
                <div data-slot="submit"></div>
            </div>
            <div class="support-widget-form__actions-buttom">
                <div data-slot="appil"></div>
            </div>
        </div>
        <p class="support-widget-form__status" data-status></p>
    </form>
</div>
