.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #EFF2F7;
  font-family: 'Nunito Sans', sans-serif;
  
  &__header {
    height: 80px;
    display: flex;
    align-items: top;
    padding: 0 20px;
  }

  &__container {
    display: flex;
    flex: 1;
    overflow: hidden;
    padding-right: 16px;
  }

  &__sidebar {
    width: 240px;
    padding: 0 16px;
    box-sizing: border-box;
  }

  &__main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__modal-root {
    position: fixed;
    inset: 0;
    pointer-events: none;

    &--active {
      pointer-events: auto;
    }
  }
}

.sidebar__compose {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}
