<div class="main-layout">
    <header class="main-layout__header">
        <a class="main-layout__logo logo"><img alt="Логотип" class="logo__image" src="">flintmail</a>
        <div class="main-layout__action-wrapper">
            <form class="main-layout__search-form" action="">
                <input class="main-layout__search-field" type="text">
            </form>
            <div class="main-layout__profile-button profile-button">
                <img class="profile-button__image" alt="Аватарка пользователя">
            </div>
        </div>
    </header>
    <main class="main-layout__main">
        {{{content}}}
    </main>
</div>