<div class="inbox-browser-conteiner">
   {{#each folder}}
        <div class="foder-browser-item">{{this}}</div>
    {{/each}}
   {{{folders}}}
</div>
<div class="message-list-conteiner">
    {{{messages}}}
</div>
