.profile-page {
  width: 100%;
  height: 100%;
  background: #f5f7ff;
  padding: 24px;
  box-sizing: border-box;

  @media (max-width: 900px) {
    padding: 16px;
  }

  @media (max-width: 720px) {
    padding: 12px;
  }
}
