.auth-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  width: 100%;
  height: 100%;

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #1f2937;
    text-align: center;
    margin-top: 32px;
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
  }

  &__actions {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .ui-button {
      width: 100%;
    }
  }
}
