<form class="register-form" data-form novalidate>
    <div class="register-form__fields">
        <div data-slot="name"></div>
        <div data-slot="login"></div>
        <div data-slot="birthdate"></div>
        <div data-slot="gender"></div>
        <div data-slot="password"></div>
        <div data-slot="passwordRepeat"></div>
    </div>
    <div class="register-form__actions" data-slot="submit"></div>
</form>
