.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  &__actions {
    display: flex;
    flex-direction: column;

    .ui-button {
      width: 100%;
    }
  }
}
