
.register-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    .ui-button {
      width: 100%;
    }
  }
}
