.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 360px;

  &__name-input {
    margin-top: 24px;
    width: 360px;
  }

  &__gender-picker-container {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__gender-picker-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__gender-picker {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    color: black;

    &:checked {
      accent-color: black;
    }
  }
}

// Стили для ошибок

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  width: 100%;
  text-align: left;
}

.form-errors-container {
  width: 360px;
  margin-bottom: 20px;
}

.error-list {
  background-color: #ffffff;
  border: 2px solid red;
  border-radius: 8px;
  padding: 15px;
}
