<form action="" class="register-form">
    <input type="text" class="register-form__name-input primary-input" placeholder="Ваше имя">
    <input type="text" class="register-form__login-input primary-input" placeholder="Логин@flintmail.ru">
    <input type="text" class="register-form__date-input primary-input" placeholder="Дата рождения">
    <div class="register-form__gender-picker-container">
        <div class="register-form__gender-picker-label">Пол:</div>
        <div class="register-form__gender-picker-wrapper">
            <input class="register-form__gender-picker" type="radio" id="male" name="gender" value="male">
            <label for="male">Мужской</label>
        </div>
        <div class="register-form__gender-picker-wrapper">
            <input class="register-form__gender-picker" type="radio" id="female" name="gender" value="female">
            <label for="female">Женский</label>
        </div>
    </div>
    <input type="text" class="register-form__password-input primary-input" placeholder="Новый пароль">
    <input type="text" class="register-form__password-repeat-input primary-input" placeholder="Повторите пароль">
    <button type="submit" class="register-form__button-submit primary-button">Зарегистрироваться</button>
</form>