.header__avatar-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 12px;
  transition: background .12s ease;

  &:hover {
    background: rgba(81, 99, 235, 0.08);
  }
}

.header__avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #d9f0d9;
  color: #397639;
  text-transform: uppercase;

  &--image {
    object-fit: cover;
  }
}
