<div class="compose-overlay" role="dialog" aria-modal="true">
  <div class="compose-modal">
    <button class="compose-modal__close" data-action="close" aria-label="Закрыть окно">
      <img src="/img/close-modal.svg" alt="" aria-hidden="true" />
    </button>

    <div class="compose-modal__body">
      <div class="compose-modal__recipient">
        {{!-- <div class="compose-modal__avatar">
          {{#if avatarUrl}}
            <img class="compose-modal__avatar-image" src="{{avatarUrl}}" alt="{{avatarLabel}}" />
          {{else}}
            <span class="compose-modal__avatar-fallback" aria-hidden="true">{{avatarLabel}}</span>
          {{/if}}
        </div> --}}

        <div class="compose-modal__inputs">
          <div class="compose-modal__inputs-text">
            Кому: <input class="compose-modal__input" type="text" data-field="to" />
          </div>
          <div class="compose-modal__inputs-text">
            Тема: <input class="compose-modal__input" type="text" data-field="subject" />
          </div>
        </div>
      </div>

      <div class="compose-modal__actions">
        <div class="compose-modal__action-slot compose-modal__action-slot--attach" data-slot="attach"></div>
        <div class="compose-modal__action-slot compose-modal__action-slot--draft" data-slot="draft"></div>
      </div>
      <div class="compose-modal__attachments" data-slot="attachments"></div>
      <div class="compose-modal__attach-error" data-attach-error></div>
      <input class="compose-modal__file-input" type="file" data-attach-input multiple hidden />
      <textarea class="compose-modal__textarea" placeholder="Введите сообщение" data-field="body"></textarea>
      <div class="compose-modal__footer">
        <div class="compose-modal__delete-slot" data-slot="delete"></div>
        <div class="compose-modal__send-slot" data-slot="send"></div>
      </div>
    </div>
  </div>
</div>
