.sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  max-height: 100%;

  &__compose {
    padding: 10px 10px;
    border-radius: 12px;
    background: #ffffff;
    color: #5163eb;
    border: 2px solid #5163eb;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow .15s ease, transform .15s ease;
    user-select: none;
    
    &:hover {
    }
  }

  &__folders {
    list-style: none;
    margin: 0;
    padding: 0 2px 0 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
  }

  &__create-folder {
    margin-top: 12px;
    padding: 0;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
  &__sidebar-folder__name {
    color: #6b7cff;
  }
}
