.login-layout {
  background: url('../../../../public/img/background.jpg') center center no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}