<form class="auth-form" data-form novalidate>
    <div class="auth-form__fields">
        <div class="auth-form__field" data-slot="login"></div>
        <div class="auth-form__field" data-slot="password"></div>
    </div>
    <a href="#" class="auth-form__forgot" data-action="forgot">{{forgotPasswordText}}</a>
    <div class="auth-form__actions" data-slot="submit"></div>
</form>
