.register-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  height: 100%;

  &__title {
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 12px;
  }

  &__actions {
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    .ui-button {
      width: 100%;
    }
  }
}
