<div class="register-page">
    <div class="register-page__header">Регистрация</div>
    {{{registerForm}}}
    <div class="register-page__already-registered-container">
        Есть аккаунт?
        <a class="register-page__auth-link" data-action="auth">Войти</a>
    </div>
</div>
