.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
  }

  &__already-registered-container {
    margin-top: 28px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__auth-link {
    color: #5163EB;
    font-size: 20px;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }
  }
}