<section class="mail-list">
    <div class="mail-list__items"></div>
    <div class="mail-list__footer" data-slot="footer">
        <div class="mail-list__sentinel" data-load-sentinel></div>
    </div>
</section>
