<div class="support-admin">
    <header class="support-admin__top">
        <div>
            <h1 class="support-admin__title">Обращения</h1>
            <p class="support-admin__subtitle">Обращения от пользователей.</p>
        </div>
        <button type="button" class="support-admin__logout" data-logout>Выйти</button>
    </header>
    <section class="support-admin__stats" data-stats></section>
    <section class="support-admin__content">
        <div class="support-admin__list" data-appeals></div>
    </section>
</div>
