.auth-layout {
  background: url('../../../../public/img/background.jpg') repeat center center / cover;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-style: normal;

  &__logo {
    flex-direction: column;
  }

  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    width: 516px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.logo {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #5163EB;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    content: url('../../../../public/img/logo.svg');
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
