<div class="auth-layout">
    <div class="auth-layout__container">
        <a class="auth-layout__logo logo"><img alt="Логотип" class="logo__image" src="">flintmail</a>
        {{{content}}}
    </div>
</div>

