.auth-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .login-form {
    background: #fff;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    padding: 3%;

    .login-title {
      color: #5163EB;
      font-size: 185%;
    }
  }
}

.toggle-btn-registration {
  width: 100%;
  height: 70%;
  background: #5163EB;
  border: 2px solid #5163EB;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
