<div class="auth-layout">
    <div class="auth-layout__background"></div>
    <main class="auth-layout__content">
        <div class="auth-layout__form-container">
            {{{content}}}
        </div>
    </main>
</div>