.header__search {
  position: relative;
  flex: 0 0 auto;
  width: 518px;
  height: 48px;
  display: flex;
  align-items: center;
  background: #f5f6fa;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 0 16px 0 44px;
  box-sizing: border-box;
  background-image: url("../../../../public/img/search-normal.png");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 16px;
  outline: none;
}

.header__search-input::placeholder {
  color: rgba(39, 43, 53, 0.6);
}
