<section class="interface-settings">
  <h1 class="interface-settings__title">Настройки интерфейса</h1>
  <div class="interface-settings__body">
    <ul class="interface-settings__list">
      <li class="interface-settings__item" data-slot="theme"></li>
      <li class="interface-settings__item" data-slot="signature"></li>
      <li class="interface-settings__item" data-slot="folders"></li>
    </ul>
    <div class="interface-settings__content" data-slot="content"></div>
  </div>
</section>
