<section class="interface-settings">
  <h1 class="interface-settings__title">Интерфейс</h1>
  <ul class="interface-settings__list">
    <li class="interface-settings__item">
      <button class="interface-settings__link" type="button">Тема интерфейса</button>
    </li>
    <li class="interface-settings__item">
      <button class="interface-settings__link" type="button">Автоподпись</button>
    </li>
    <li class="interface-settings__item">
      <button class="interface-settings__link" type="button">Папки</button>
    </li>
    <li class="interface-settings__item">
      <button class="interface-settings__link" type="button">Безопасность</button>
    </li>
  </ul>
</section>
