.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__forgot {
    align-self: flex-start;
    font-size: 14px;
    color: #5163eb;
    font-weight: 600;
    text-decoration: none;
    transition: color .15s ease;
    margin-top: 8px;
    margin-bottom: 32px;
    
    &:hover {
      color: #3242b0;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:hover {
      
    }
    
    .ui-button {
      width: 100%;
    }
  }
}
