<form action="" class="auth-form">
    <input id="login" class="auth-form__login-input primary-input" type="text" placeholder="{{{loginPlaceholder}}}">
    <div class="auth-form__password-container">
        <input id="password" class="auth-form__password-input primary-input" type="password" placeholder="{{{passwordPlaceholder}}}">
        <a href="" class="auth-form__forgot-password-link">{{{forgotPasswordText}}}</a>
    </div>
    <button type="submit" class="auth-form__button-submit primary-button">{{{submitLoginText}}}</button>
</form>