<button class="ui-button ui-button--{{variant}}{{#if fullWidth}} ui-button--block{{/if}}" type="{{type}}" {{#if disabled}}disabled{{/if}}>
    {{#if icon}}
        <span class="ui-button__icon">{{{icon}}}</span>
    {{/if}}
    <span class="ui-button__label">{{label}}</span>
</button>
