<div class="header">
    <div class="header__left">
        <div class="header__logo" data-logo>
            <img src="/img/logo.svg" alt="flintmail" class="header__logo-icon"/>
            <span class="header__logo-text">flintmail</span>
        </div>
    </div>

    <div class="header__center"></div>

    <div class="header__right">
        <div data-slot="search"></div>
        <div data-slot="avatar"></div>

        <div class="header__avatar-menu" role="menu" aria-hidden="true">
            <button class="avatar-menu__item" data-avatar-profile>Профиль</button>
            <button class="avatar-menu__item" data-avatar-settings>Настройки</button>
            <button class="avatar-menu__item" data-avatar-logout>Выйти</button>
        </div>
    </div>
</div>
