<li class="sidebar-folder {{#if active}}sidebar-folder--active{{/if}}" data-folder-id="{{id}}">
    <div class="sidebar-folder__icon"></div>
    <span class="sidebar-folder__name">{{name}}</span>
    {{#if count}}<span class="sidebar-folder__count">{{count}}</span>{{/if}}
</li>
